.mat-toolbar {
  background-color: #094454;

  .header-admin {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .logo {
      height: 60px;
    }

    button {
      .mat-icon {
        background-color: white;
        border-radius: 5px;
      }
    }
  }
}